### To read Excel File using PySpark, you fist need to read the file using Pandas then convert to PySPark Dataframe

## Step 1: Import all necessary libries

In [ ]:
df = pd.read_excel("Sales-Data_01.xlsx")

In [ ]:
df.head()

In [ ]:
df.to_csv("sales_data.csv", index=False)

In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
#Start spark session
#We need to set a App Name, this might take longer if doing it for the first time.
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName('tutorial').getOrCreate()

In [3]:
spark

**Read Data using Spark**

# Task 1: Sales Data

In [4]:
df_pyspark_2 = spark.read.csv("sales_data.csv", header=True, inferSchema=True)
#InferSchema endures the right datatype are in each individual columns

## Step 3: Data Transformation & Cleaning

In [5]:
#View each columns datatypes
df_pyspark_2.printSchema()

root
 |-- S/N: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Pizza Sold: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Sales Discount: double (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Time Range: string (nullable = true)

In [6]:
df_pyspark_2.show()

+---+-------------------+-------+----------------+-----+--------+--------------+--------------------+-------------+
|S/N|               Date| Branch|      Pizza Sold|Price|Quantity|Sales Discount|                Time|   Time Range|
+---+-------------------+-------+----------------+-----+--------+--------------+--------------------+-------------+
|  1|2021-06-10 00:00:00|  Italy|         Meatzaa| 2000|       5|          0.03| 2022-12-17 15:57:36|Before 9:00am|
|  2|2020-10-05 00:00:00| France|    Extravaganza| 2000|       4|          0.07|2022-12-17 17:54:...|Before 9:00am|
|  3|2020-11-04 00:00:00|  Spain|     BBQ Chicken| 4000|       5|          0.05|2022-12-17 09:04:...|Before 9:00am|
|  4|2021-10-27 00:00:00| France|    Extravaganza| 2000|       1|           0.0|2022-12-17 16:03:...|Before 9:00am|
|  5|2020-10-20 00:00:00|England|         Meatzaa| 2000|       4|           0.0|2022-12-17 08:54:...|Before 9:00am|
|  6|2020-09-10 00:00:00|Germany|      Hot Veggie| 4000|       2|           0.1|2022-12-17 15:38:...|Before 9:00am|
|  7|2020-03-15 00:00:00|  Italy|BBQ Philly Steak| 4000|       5|          0.05|2022-12-17 11:44:...|Before 9:00am|
|  8|2020-04-21 00:00:00| France|   Chicken Feast| 2000|       1|           0.0|2022-12-17 17:34:...|Before 9:00am|
|  9|2021-02-05 00:00:00|England|         Meatzaa| 2000|       3|          0.05|2022-12-17 13:20:...|Before 9:00am|
| 10|2022-06-17 00:00:00|  Italy|    Chicken Suya| 4000|       5|           0.0| 2022-12-17 10:48:00|Before 9:00am|
| 11|2020-05-20 00:00:00|  Spain|  Chicken Legend| 2000|       5|          0.03|2022-12-17 10:13:...|Before 9:00am|
| 12|2021-02-06 00:00:00|England|BBQ Philly Steak| 4000|       4|          0.05| 2022-12-17 08:31:12|Before 9:00am|
| 13|2021-09-13 00:00:00|England|    Chicken Suya| 4000|       2|          0.05|2022-12-17 13:52:...|Before 9:00am|
| 14|2021-01-28 00:00:00|  Italy|   Chicken Feast| 2000|       5|          0.03|2022-12-17 14:05:...|Before 9:00am|
| 15|2021-02-25 00:00:00|Germany|   Chicken Feast| 2000|       4|           0.0|2022-12-17 16:45:...|Before 9:00am|
| 16|2021-10-14 00:00:00|  Spain|       Beef Suya| 3000|       5|          0.05|2022-12-17 12:27:...|Before 9:00am|
| 17|2020-04-22 00:00:00|England|   Chicken Feast| 2000|       5|          0.05|2022-12-17 17:13:...|Before 9:00am|
| 18|2021-11-23 00:00:00|  Spain|      Hot Veggie| 4000|       5|          0.03| 2022-12-17 15:21:36|Before 9:00am|
| 19|2020-06-04 00:00:00|Germany|         Meatzaa| 2000|       5|           0.1|2022-12-17 14:13:...|Before 9:00am|
| 20|2022-04-14 00:00:00|  Italy|         Meatzaa| 2000|       2|          0.05|2022-12-17 09:15:...|Before 9:00am|
+---+-------------------+-------+----------------+-----+--------+--------------+--------------------+-------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import to_date, col
df_pyspark_2 = df_pyspark_2.withColumn("Total_Amount_Sold", col("Quantity") * col("Price")*(1-col("Sales Discount")))

In [8]:
df_pyspark_2.select(["Pizza Sold","Total_Amount_Sold"]).show()

+----------------+-----------------+
|      Pizza Sold|Total_Amount_Sold|
+----------------+-----------------+
|         Meatzaa|           9700.0|
|    Extravaganza|7439.999999999999|
|     BBQ Chicken|          19000.0|
|    Extravaganza|           2000.0|
|         Meatzaa|           8000.0|
|      Hot Veggie|           7200.0|
|BBQ Philly Steak|          19000.0|
|   Chicken Feast|           2000.0|
|         Meatzaa|           5700.0|
|    Chicken Suya|          20000.0|
|  Chicken Legend|           9700.0|
|BBQ Philly Steak|          15200.0|
|    Chicken Suya|           7600.0|
|   Chicken Feast|           9700.0|
|   Chicken Feast|           8000.0|
|       Beef Suya|          14250.0|
|   Chicken Feast|           9500.0|
|      Hot Veggie|          19400.0|
|         Meatzaa|           9000.0|
|         Meatzaa|           3800.0|
+----------------+-----------------+
only showing top 20 rows

### Final Aggregate Value for the Data Analyst

In [9]:
df_pyspark_2.groupBy("Pizza Sold").agg({"Total_Amount_Sold":"sum"}).show()

+-------------------+----------------------+
|         Pizza Sold|sum(Total_Amount_Sold)|
+-------------------+----------------------+
|     Pepperoni Suya|             3109110.0|
|      Chicken Feast|             1681880.0|
|          Beef Suya|             2839650.0|
|          Margarita|             3358920.0|
|Hot Pepperoni Feast|             4125800.0|
|   BBQ Philly Steak|             3669920.0|
|     Veggie Supreme|             2916810.0|
|         Hot Veggie|             3662480.0|
|    Pepperoni Feast|             3483400.0|
|            Meatzaa|             1620900.0|
|       Extravaganza|             1752760.0|
|        BBQ Chicken|             3466680.0|
|       Chicken Bali|             1716320.0|
|           Italiano|             2842020.0|
|     Chicken Legend|             1702500.0|
|       Chicken Suya|             3675360.0|
+-------------------+----------------------+

In [10]:
df_pyspark_2 = df_pyspark_2.groupBy("Pizza Sold").agg({"Total_Amount_Sold":"sum"})

In [11]:
df_pyspark_2.show()

+-------------------+----------------------+
|         Pizza Sold|sum(Total_Amount_Sold)|
+-------------------+----------------------+
|     Pepperoni Suya|             3109110.0|
|      Chicken Feast|             1681880.0|
|          Beef Suya|             2839650.0|
|          Margarita|             3358920.0|
|Hot Pepperoni Feast|             4125800.0|
|   BBQ Philly Steak|             3669920.0|
|     Veggie Supreme|             2916810.0|
|         Hot Veggie|             3662480.0|
|    Pepperoni Feast|             3483400.0|
|            Meatzaa|             1620900.0|
|       Extravaganza|             1752760.0|
|        BBQ Chicken|             3466680.0|
|       Chicken Bali|             1716320.0|
|           Italiano|             2842020.0|
|     Chicken Legend|             1702500.0|
|       Chicken Suya|             3675360.0|
+-------------------+----------------------+

# Task 2: Target Data

In [12]:
df_pyspark_1 = spark.read.csv("Sales-Target.csv", header=True, inferSchema=True)
#InferSchema endures the right datatype are in each individual columns

In [13]:
df_pyspark_1.show()

+------+----+-------+--------------------+----------------+-----------+------------+-------------+--------------+------------+------------------+-------------------+-----------+------------------+--------------------+-----------+---------------+--------------+--------------+-----------+--------------------+
| Years|Date| Branch|         BBQ Chicken|BBQ Philly Steak|  Beef Suya|Chicken Bali|Chicken Feast|Chicken Legend|Chicken Suya|      Extravaganza|Hot Pepperoni Feast| Hot Veggie|          Italiano|           Margarita|    Meatzaa|Pepperoni Feast|Pepperoni Suya|Veggie Supreme|Unnamed: 19|© UrBizEdge Limited |
+------+----+-------+--------------------+----------------+-----------+------------+-------------+--------------+------------+------------------+-------------------+-----------+------------------+--------------------+-----------+---------------+--------------+--------------+-----------+--------------------+
|2020.0| Jan|England|           2791833.6|       1872384.0| 1.005396E7|   2075048.0|    2526216.0|     3381012.0|   3295864.0|         2099229.6|          1824960.0|  2196135.0|         2831976.0|           6102995.2|  7971931.0|      2856971.0|     2303840.0|     2218080.0|       null|                null|
|  null|null|  Italy|           4207526.4|       2633823.0|1.1364405E7|   1768008.0|    2500370.0|     1816488.0|   3008070.0|         2366311.2|          3067857.0|  3671550.0|1835287.2000000002|         1.1542824E7|  8085627.0|      2099889.0|     3116724.0|     2795148.0|       null|                null|
|  null|null| France|           7019978.4|       4479921.0|2.1586015E7|   5964926.0|    7977720.0|     5558322.0|   4816320.0|         6088500.0|          5409426.0|  6477312.0|         6153852.0|2.2028619200000003E7|1.7805008E7|      6423844.0|     6126384.0|     4849605.0|       null|                null|
|  null|null|  Spain|           9334720.0|       7225790.0|2.7299547E7|   6039456.0|    7707447.0|     7497820.0|   7914291.0|         6979142.4|          7359440.0|  6597297.0|         6110482.4|2.7871123200000003E7|2.9613493E7|    1.0462305E7|    1.032178E7|     7916029.0|       null|                null|
|  null|null|Germany|  3913574.4000000004|       2996301.0|  9691440.0|   2821456.0|    3661700.0|     3547755.0|   2818569.0|         2983176.0|          2537838.0|  3774078.0|         1815072.0|        1.06122128E7|  6024288.0|      1997272.0|     2379390.0|     2210952.0|       null|                null|
|  null| Feb|England|           4282028.8|       2375760.0|  7189800.0|   3069430.0|    3022552.0|     1872888.0|   2984397.0|         1654728.0|          2746146.0|  3371490.0|2513596.8000000003|           6362712.0|  6524478.0|      2147634.0|     1681182.0|     1834083.0|       null|                null|
|  null|null|  Italy|           3163032.0|       2280894.0|1.1265995E7|   3214204.0|    3444672.0|     3350424.0|   1989408.0|1871366.4000000001|          2626164.0|  2912742.0|         2216016.0|           7744466.4|  8472997.0|      3365865.0|     3165390.0|     2078280.0|       null|                null|
|  null|null| France|           9125844.0|       5714820.0| 2.362971E7|   5056128.0|    4254063.0|     4372760.0|   3849714.0|         3358864.0|          3852225.0|  4643850.0|         4676619.2|        1.15619648E7| 1.579398E7|      2997264.0|     3308136.0|     5320252.0|       null|                null|
|  null|null|  Spain|        1.25039328E7|       4750000.0|  2.62807E7|   9769998.0|    5553264.0|     6282272.0|   5080192.0|         7108488.0|          6156870.0|  6869533.0|         5877158.4|        1.81213056E7|2.8462616E7|      9652845.0|     5388488.0|     6866580.0|       null|                null|
|  null|null|Germany|           3545616.0|       2499372.0| 1.028434E7|   2422010.0|    2956005.0|     2491884.0|   2811780.0|         1361808.0|          2783550.0|  2330343.0|         2095113.6|           5695315.2|  5004808.0|      1726872.0|     2909010.0|     3355425.0|       null|                null|
|  null| Mar|England|           6513852.0|       2999232.0|  8092992.0|   2500104.0|    2056464.0|     3881025.0|   2780074.0|         1885752.0|          2765334.0|  2887584.0|         2256117.6|        1.02983088E7|  7674630.0|      3938040.0|     2662296.0|     2808648.0|       null|                null|
|  null|null|  Italy|   5113012.800000001|       3918726.0|  9610780.0|   2746194.0|    3228492.0|     2396520.0|   3447945.0|         2557497.6|          3917880.0|  3485850.0|         1584496.8|           7244395.2|  9531912.0|      2485380.0|     1961540.0|     3034680.0|       null|                null|
|  null|null| France|           8223556.0|       7711830.0| 2.357808E7|   6952918.0|    5595535.0|     6007068.0|   7010145.0|         4788604.8|          6796734.0|  3982152.0|         3472200.0|1.4979585600000001E7|  1.31778E7|      7161870.0|     4201263.0|     5129640.0|       null|                null|
|  null|null|  Spain|1.5824827200000001E7|       8495172.0|3.5159904E7|   6074536.0|    9369802.0|     8140462.0|   9409008.0|         9088020.0|         1.132776E7| 1.048992E7|         7181054.4|         2.3653608E7|2.8764879E7|      7872755.0|     8493881.0|   1.0915268E7|       null|                null|
|  null|null|Germany|           3158208.0|       3454920.0| 1.455135E7|   3443076.0|    2197872.0|     3115944.0|   2020491.0|         2764332.0|          3179764.0|  3501876.0|1628275.2000000002|        1.15441984E7|  8275692.0|      3922440.0|     3131232.0|     3189693.0|       null|                null|
|  null| Apr|England|           5292924.0|       2733372.0|1.1790519E7|   3350750.0|    2028429.0|     3707100.0|   2475108.0|         3048180.0|          2957760.0|  1951344.0|         2012709.6|   5923404.800000001|  6767667.0|      1811205.0|     2948616.0|     3504870.0|       null|                null|
|  null|null|  Italy|   4564201.600000001|       3018004.0|1.2853638E7|   3454695.0|    3535098.0|     2196990.0|   2438326.0|         1873581.6|          3119550.0|  2117856.0|2124196.8000000003|1.0537259200000001E7|  6047604.0|      2862132.0|     2247048.0|     3479310.0|       null|                null|
|  null|null| France|           9848560.8|       4340556.0|2.9278185E7|   5574852.0|    4173192.0|     6136273.0|   6683852.0|2842630.4000000004|          6840288.0|  6490344.0|         4581992.8|1.1695865600000001E7|1.2084192E7|      4470417.0|     7727520.0|     5864980.0|       null|                null|
|  null|null|  Spain|1.6367153600000001E7|       8284512.0|3.7139518E7|   6424191.0|    7660642.0|     6376203.0|   9651614.0| 6010364.800000001|          8640489.0|1.0457874E7|         7169822.4|        3.31686768E7|1.9347183E7|      9131395.0|     6527736.0|     7450839.0|       null|                null|
|  null|null|Germany|           3036416.0|       3642885.0|1.3672834E7|   1991736.0|    2876616.0|     2994510.0|   1718016.0|1590278.4000000001|          1890672.0|  1879119.0|1570003.2000000002|         1.1666868E7|  7278843.0|      1878471.0|     3247692.0|     1950312.0|       null|                null|
+------+----+-------+--------------------+----------------+-----------+------------+-------------+--------------+------------+------------------+-------------------+-----------+------------------+--------------------+-----------+---------------+--------------+--------------+-----------+--------------------+
only showing top 20 rows

In [14]:
#View each columns datatypes
df_pyspark_1.printSchema()

root
 |-- Years: double (nullable = true)
 |-- Date: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- BBQ Chicken: double (nullable = true)
 |-- BBQ Philly Steak: double (nullable = true)
 |-- Beef Suya: double (nullable = true)
 |-- Chicken Bali: double (nullable = true)
 |-- Chicken Feast: double (nullable = true)
 |-- Chicken Legend: double (nullable = true)
 |-- Chicken Suya: double (nullable = true)
 |-- Extravaganza: double (nullable = true)
 |-- Hot Pepperoni Feast: double (nullable = true)
 |-- Hot Veggie: double (nullable = true)
 |-- Italiano: double (nullable = true)
 |-- Margarita: double (nullable = true)
 |-- Meatzaa: double (nullable = true)
 |-- Pepperoni Feast: double (nullable = true)
 |-- Pepperoni Suya: double (nullable = true)
 |-- Veggie Supreme: double (nullable = true)
 |-- Unnamed: 19: string (nullable = true)
 |-- © UrBizEdge Limited : string (nullable = true)

In [15]:
# delete two columns
df_pyspark_1 = df_pyspark_1.drop(*('Unnamed: 19',"© UrBizEdge Limited "))

In [16]:
df_pyspark_1.columns

['Years',
 'Date',
 'Branch',
 'BBQ Chicken',
 'BBQ Philly Steak',
 'Beef Suya',
 'Chicken Bali',
 'Chicken Feast',
 'Chicken Legend',
 'Chicken Suya',
 'Extravaganza',
 'Hot Pepperoni Feast',
 'Hot Veggie',
 'Italiano',
 'Margarita',
 'Meatzaa',
 'Pepperoni Feast',
 'Pepperoni Suya',
 'Veggie Supreme']

In [17]:
df_pyspark_1= df_pyspark_1.withColumnRenamed("BBQ Chicken","BBQ_Chicken")
df_pyspark_1= df_pyspark_1.withColumnRenamed("BBQ Philly Steak","BBQ_Philly_Steak")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Beef Suya","Beef_Suya")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Chicken Bali","Chicken_Bali")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Chicken Feast","Chicken_Feast")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Chicken Legend","Chicken_Legend")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Chicken Suya","Chicken_Suya")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Hot Pepperoni Feast","Hot_Pepperoni_Feast")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Hot Veggie","Hot_Veggie")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Pepperoni Feast","Pepperoni_Feast")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Pepperoni Suya","Pepperoni_Suya")
df_pyspark_1= df_pyspark_1.withColumnRenamed("Veggie Supreme","Veggie_Supreme")

## You Need to UnPivot some columns

In [18]:
from pyspark.sql.functions import expr
from pyspark.sql.functions import array
from pyspark.sql.functions import struct

In [19]:
#Note: Ensure there is no spacing when writing the code
unpivotExpr = "stack(16, 'BBQ_Chicken', BBQ_Chicken, 'BBQ_Philly_Steak', BBQ_Philly_Steak, 'Beef_Suya', Beef_Suya, 'Chicken_Bali', Chicken_Bali, 'Chicken_Feast', Chicken_Feast, 'Chicken_Legend', Chicken_Legend, 'Chicken_Suya', Chicken_Suya, 'Extravaganza', Extravaganza, 'Hot_Pepperoni_Feast', Hot_Pepperoni_Feast, 'Hot_Veggie', Hot_Veggie, 'Italiano', Italiano, 'Margarita', Margarita, 'Meatzaa', Meatzaa, 'Pepperoni_Feast', Pepperoni_Feast, 'Pepperoni_Suya', Pepperoni_Suya, 'Veggie_Supreme', Veggie_Supreme) as (Pizza_Products,Target_Amount_Sold)"
#columns = ['Years', 'Date', 'Branch']
#df_pyspark_1.select(array(columns))
df_pyspark_1 = df_pyspark_1.select("Years","Date","Branch", expr(unpivotExpr))
#df_pyspark_1 = df_pyspark_1.select(['Years', 'Date', 'Branch'], expr(unpivotExpr))

In [20]:
df_pyspark_1.show()

+------+----+-------+-------------------+------------------+
| Years|Date| Branch|     Pizza_Products|Target_Amount_Sold|
+------+----+-------+-------------------+------------------+
|2020.0| Jan|England|        BBQ_Chicken|         2791833.6|
|2020.0| Jan|England|   BBQ_Philly_Steak|         1872384.0|
|2020.0| Jan|England|          Beef_Suya|        1.005396E7|
|2020.0| Jan|England|       Chicken_Bali|         2075048.0|
|2020.0| Jan|England|      Chicken_Feast|         2526216.0|
|2020.0| Jan|England|     Chicken_Legend|         3381012.0|
|2020.0| Jan|England|       Chicken_Suya|         3295864.0|
|2020.0| Jan|England|       Extravaganza|         2099229.6|
|2020.0| Jan|England|Hot_Pepperoni_Feast|         1824960.0|
|2020.0| Jan|England|         Hot_Veggie|         2196135.0|
|2020.0| Jan|England|           Italiano|         2831976.0|
|2020.0| Jan|England|          Margarita|         6102995.2|
|2020.0| Jan|England|            Meatzaa|         7971931.0|
|2020.0| Jan|England|    Pepperoni_Feast|         2856971.0|
|2020.0| Jan|England|     Pepperoni_Suya|         2303840.0|
|2020.0| Jan|England|     Veggie_Supreme|         2218080.0|
|  null|null|  Italy|        BBQ_Chicken|         4207526.4|
|  null|null|  Italy|   BBQ_Philly_Steak|         2633823.0|
|  null|null|  Italy|          Beef_Suya|       1.1364405E7|
|  null|null|  Italy|       Chicken_Bali|         1768008.0|
+------+----+-------+-------------------+------------------+
only showing top 20 rows

In [24]:
'''from pyspark.sql.functions import upward_fill, downward_fill

# Fill up the column
#df = df.withColumn("column_name", fillna(upward_fill("column_name")))

# Fill down the column
df_pyspark_1.withColumn("Years", fillna(downward_fill("Years")))'''
#You need to update the Pyspark to be able to use the Fillna, Fill_Up & Fill_Down

'from pyspark.sql.functions import upward_fill, downward_fill\n\n# Fill up the column\n#df = df.withColumn("column_name", fillna(upward_fill("column_name")))\n\n# Fill down the column\ndf_pyspark_1.withColumn("Years", fillna(downward_fill("Years")))'

## Aggregate(GroupBy) the Pizza and Amount SOld

In [25]:
df_pyspark_1.columns

['Years', 'Date', 'Branch', 'Pizza_Products', 'Target_Amount_Sold']

In [26]:
df_pyspark_1 = df_pyspark_1.groupBy("Pizza_Products").agg({"Target_Amount_Sold":"sum"})
df_pyspark_1.show()

+-------------------+-----------------------+
|     Pizza_Products|sum(Target_Amount_Sold)|
+-------------------+-----------------------+
|      Chicken_Feast|    5.870164388000001E8|
|     Veggie_Supreme|           6.12804425E8|
|     Chicken_Legend|          6.127479926E8|
|          Margarita|   1.9355369595199997E9|
|       Chicken_Bali|          5.767242822E8|
|   BBQ_Philly_Steak|           5.88206461E8|
|        BBQ_Chicken|    9.600649076800001E8|
|       Chicken_Suya|          5.679765358E8|
|            Meatzaa|         1.8048419424E9|
|       Extravaganza|   4.7222161423999995E8|
|    Pepperoni_Feast|           5.88681188E8|
|         Hot_Veggie|    6.020760175999999E8|
|     Pepperoni_Suya|    5.891687681999999E8|
|Hot_Pepperoni_Feast|          5.871240264E8|
|           Italiano|    4.669655563199999E8|
|          Beef_Suya|   2.3177112623999996E9|
+-------------------+-----------------------+