In [1]:
!pip install pyspark

^C

**N:B:** You might have issues installing Pyspark, all you need to do is create a new virtual environment to install Pyspark.

In [1]:
import pyspark
import pandas as pd

## Let Generate Fake Data using Faker

In [3]:
from faker import Faker
fake = Faker()

In [4]:
for _ in range(10):
    print(fake.name())

Lance Martin
Ashley Collins
Tracy Underwood
Aaron Ray
Austin Lynn
Tina Stone
Richard Thomas
Andrew Rodriguez
Kathleen Johnson
John Robinson

In [5]:
print(fake.date_between(start_date="-3y",end_date="-1y")) # date between 2018 and 2020
print(fake.month())
print(fake.date_time())
print(fake.year())
print(fake.month_name())
print(fake.date_time_this_year())
print(fake.time())
print(fake.timezone())
print(fake.day_of_week())
print(fake.time_object())

2020-03-15
03
1973-12-01 02:20:23
2010
April
2022-09-21 23:50:35
05:15:41
Africa/Freetown
Monday
19:54:05

In [6]:
generateProfile = Faker()

generateProfile.simple_profile()

{'username': 'mitchelladam',
 'name': 'Daniel Smith',
 'sex': 'M',
 'address': '611 Makayla Stravenue\nStaceyport, VA 02984',
 'mail': 'bbailey@hotmail.com',
 'birthdate': datetime.date(2007, 12, 20)}

In [7]:
generateProfile.profile()

{'job': 'Statistician',
 'company': 'Andersen, Norton and Hood',
 'ssn': '689-10-2615',
 'residence': '3479 Palmer Islands\nGraybury, WV 27830',
 'current_location': (Decimal('70.0990895'), Decimal('47.161204')),
 'blood_group': 'O+',
 'website': ['http://wallace.org/', 'https://munoz.info/'],
 'username': 'ramseyjessica',
 'name': 'Tiffany Reyes',
 'sex': 'F',
 'address': '67750 Robert Landing\nNorth Julia, KS 23244',
 'mail': 'susanlopez@gmail.com',
 'birthdate': datetime.date(1964, 9, 7)}

In [9]:
import pandas as pd 

generateProfile = Faker()

# generate 1000 profiles 
data = [generateProfile.profile() for i in range(1000)]

# save profiles in pandas dataframe
df = pd.DataFrame(data)

In [10]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Management consultant,Bates Inc,538-20-5825,"399 Johnson Springs Apt. 439\nSouth Mark, WV 2...","(-48.7913485, 104.343450)",B-,"[http://garcia.com/, http://www.kim.com/]",joshua81,Julie Marshall,F,0505 Jennifer Underpass Suite 414\nPort Brando...,abigail14@hotmail.com,1993-10-15
1,"Journalist, newspaper","Wolf, Perkins and Fisher",027-17-3368,"451 Lori Ridges\nLewismouth, KS 16771","(5.1487915, 172.671923)",B+,"[http://price.net/, https://navarro.biz/]",fferguson,Steven Simmons,M,"00448 John Stream Suite 096\nKennethside, GA 7...",gfriedman@yahoo.com,1949-03-11
2,Research scientist (maths),Dawson Inc,878-32-0473,"084 David Land Suite 227\nJonathanmouth, KY 19218","(-4.1471635, 96.813782)",O-,"[https://rush-stanley.biz/, http://www.martine...",linda98,Nicole Morales,F,"91724 Ashley Loaf\nNorth Jamesbury, CA 55841",speterson@gmail.com,1994-03-12
3,Press photographer,Solis and Sons,563-21-0545,34210 Christina Crossing Apt. 377\nWilliamshav...,"(24.2534065, -56.383052)",A-,"[http://stewart.com/, https://www.wallace-step...",spencer43,Juan Cannon,M,"PSC 5047, Box 7236\nAPO AP 33712",mary03@hotmail.com,2004-04-19
4,Chief Financial Officer,"Freeman, Moody and Gallagher",421-12-6482,"5759 Smith Trace\nKathleenville, DE 85329","(-10.9002165, -101.926460)",O+,"[https://smith.org/, https://www.robinson.com/]",anthony71,Morgan Smith,F,USS Moore\nFPO AP 94862,ruth26@gmail.com,1955-06-24

In [11]:
df.columns

Index(['job', 'company', 'ssn', 'residence', 'current_location', 'blood_group',
       'website', 'username', 'name', 'sex', 'address', 'mail', 'birthdate'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   object
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  address           1000 non-null   object
 11  mail              1000 non-null   object
 12  birthdate         1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 101.7+ KB

In [19]:
df["birthdate"] = pd.to_datetime(df["birthdate"])

In [21]:
df.to_csv("Fakedata_Clean.csv")#This the next step

In [24]:
df_spark = pd.read_csv("Fakedata_Clean.csv", index_col=0)
df_spark.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Management consultant,Bates Inc,538-20-5825,"399 Johnson Springs Apt. 439\nSouth Mark, WV 2...","(Decimal('-48.7913485'), Decimal('104.343450'))",B-,"['http://garcia.com/', 'http://www.kim.com/']",joshua81,Julie Marshall,F,0505 Jennifer Underpass Suite 414\nPort Brando...,abigail14@hotmail.com,1993-10-15
1,"Journalist, newspaper","Wolf, Perkins and Fisher",027-17-3368,"451 Lori Ridges\nLewismouth, KS 16771","(Decimal('5.1487915'), Decimal('172.671923'))",B+,"['http://price.net/', 'https://navarro.biz/']",fferguson,Steven Simmons,M,"00448 John Stream Suite 096\nKennethside, GA 7...",gfriedman@yahoo.com,1949-03-11
2,Research scientist (maths),Dawson Inc,878-32-0473,"084 David Land Suite 227\nJonathanmouth, KY 19218","(Decimal('-4.1471635'), Decimal('96.813782'))",O-,"['https://rush-stanley.biz/', 'http://www.mart...",linda98,Nicole Morales,F,"91724 Ashley Loaf\nNorth Jamesbury, CA 55841",speterson@gmail.com,1994-03-12
3,Press photographer,Solis and Sons,563-21-0545,34210 Christina Crossing Apt. 377\nWilliamshav...,"(Decimal('24.2534065'), Decimal('-56.383052'))",A-,"['http://stewart.com/', 'https://www.wallace-s...",spencer43,Juan Cannon,M,"PSC 5047, Box 7236\nAPO AP 33712",mary03@hotmail.com,2004-04-19
4,Chief Financial Officer,"Freeman, Moody and Gallagher",421-12-6482,"5759 Smith Trace\nKathleenville, DE 85329","(Decimal('-10.9002165'), Decimal('-101.926460'))",O+,"['https://smith.org/', 'https://www.robinson.c...",anthony71,Morgan Smith,F,USS Moore\nFPO AP 94862,ruth26@gmail.com,1955-06-24

In [25]:
df_spark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   object
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  address           1000 non-null   object
 11  mail              1000 non-null   object
 12  birthdate         1000 non-null   object
dtypes: object(13)
memory usage: 109.4+ KB

## Let work on the Fake data using Pyspark

Before starting PySpark, always not that you need to start a Spark Session.

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName('tutorial').getOrCreate()# We need to set a App Name

In [4]:
spark #This gives you the config of your spark cluster you just created

In [15]:
spark.sql("set spark.sql.legacy.timeParserPolicy=EXCEPTION")

DataFrame[key: string, value: string]

In [5]:
#Read CSV file using Spark
df_spark = spark.read.csv("Fakedata_Clean.csv")

In [6]:
df_spark #This will give you the data_type

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string]

**Note:** PySPark is currently reading the Column number as the Header.
We need to make the First Row as the header

In [7]:
df_spark.show() #To show all the data

+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|               _c0|                 _c1|                 _c2|                 _c3|                 _c4|                 _c5|             _c6|        _c7|                 _c8|     _c9|_c10|_c11|   _c12|_c13|     _c14|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|              null|                 job|                 Age|             company|                 ssn|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|
|                 0|Management consul...|                  85|           Bates Inc|         538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|
|        South Mark|           WV 29008"|(Decimal('-48.791...|                  B-|['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|
|      Port Brandon|           IA 48052"|abigail14@hotmail...|          15/10/1993|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 1|Journalist, newsp...|                  91|Wolf, Perkins and...|         027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|
|        Lewismouth|           KS 16771"|(Decimal('5.14879...|                  B+|['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|
|       Kennethside|           GA 79926"| gfriedman@yahoo.com|          11/03/1949|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 2|Research scientis...|                  37|          Dawson Inc|         878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Jonathanmouth|           KY 19218"|(Decimal('-4.1471...|                  O-|['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|
|   North Jamesbury|           CA 55841"| speterson@gmail.com|          12/03/1994|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 3|  Press photographer|                  76|      Solis and Sons|         563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Williamshaven|           NE 73005"|(Decimal('24.2534...|                  A-|['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|
|     APO AP 33712"|  mary03@hotmail.com|          19/04/2004|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 4|Chief Financial O...|                  65|Freeman, Moody an...|         421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|
|     Kathleenville|           DE 85329"|(Decimal('-10.900...|                  O+|['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|
|     FPO AP 94862"|    ruth26@gmail.com|          24/06/1955|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 5|        Video editor|                  83|        Jones-Fowler|         794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|
|North Allisonmouth|           UT 64507"|(Decimal('-64.069...|                  O-|['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|
|         Davidberg|           AL 24747"|andersonkevin@yah...|          08/10/2002|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 6|Occupational psyc...|                  85|Franklin, Mckay a...|         807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
only showing top 20 rows

In [8]:
df_spark= spark.read.option("header","true").csv("Fakedata_Clean.csv")# We will make first row as an header

In [9]:
df_spark.show()

+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|               _c0|                 job|                 Age|             company|                 ssn|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|                 0|Management consul...|                  85|           Bates Inc|         538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|
|        South Mark|           WV 29008"|(Decimal('-48.791...|                  B-|['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|
|      Port Brandon|           IA 48052"|abigail14@hotmail...|          15/10/1993|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 1|Journalist, newsp...|                  91|Wolf, Perkins and...|         027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|
|        Lewismouth|           KS 16771"|(Decimal('5.14879...|                  B+|['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|
|       Kennethside|           GA 79926"| gfriedman@yahoo.com|          11/03/1949|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 2|Research scientis...|                  37|          Dawson Inc|         878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Jonathanmouth|           KY 19218"|(Decimal('-4.1471...|                  O-|['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|
|   North Jamesbury|           CA 55841"| speterson@gmail.com|          12/03/1994|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 3|  Press photographer|                  76|      Solis and Sons|         563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Williamshaven|           NE 73005"|(Decimal('24.2534...|                  A-|['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|
|     APO AP 33712"|  mary03@hotmail.com|          19/04/2004|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 4|Chief Financial O...|                  65|Freeman, Moody an...|         421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|
|     Kathleenville|           DE 85329"|(Decimal('-10.900...|                  O+|['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|
|     FPO AP 94862"|    ruth26@gmail.com|          24/06/1955|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 5|        Video editor|                  83|        Jones-Fowler|         794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|
|North Allisonmouth|           UT 64507"|(Decimal('-64.069...|                  O-|['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|
|         Davidberg|           AL 24747"|andersonkevin@yah...|          08/10/2002|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 6|Occupational psyc...|                  85|Franklin, Mckay a...|         807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|
|       West Cheryl|           KS 82400"|(Decimal('42.9548...|                  O-|['http://campbell...|             tracy04|    Adam Sanders|          M|    9219 Jamie Views|    null|null|null|   null|null|     null|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
only showing top 20 rows

In [10]:
type(df_spark) # This gives you the type of dataframe

pyspark.sql.dataframe.DataFrame

In [11]:
df_spark.head(3) # See the first 3 rows of the data.

[Row(_c0='0', job='Management consultant', Age='85', company='Bates Inc', ssn='538-20-5825', residence='399 Johnson Springs Apt. 439', current_location=None, blood_group=None, website=None, username=None, name=None, sex=None, address=None, mail=None, birthdate=None),
 Row(_c0='South Mark', job=' WV 29008"', Age="(Decimal('-48.7913485'), Decimal('104.343450'))", company='B-', ssn="['http://garcia.com/', 'http://www.kim.com/']", residence='joshua81', current_location='Julie Marshall', blood_group='F', website='0505 Jennifer Underpass Suite 414', username=None, name=None, sex=None, address=None, mail=None, birthdate=None),
 Row(_c0='Port Brandon', job=' IA 48052"', Age='abigail14@hotmail.com', company='15/10/1993', ssn=None, residence=None, current_location=None, blood_group=None, website=None, username=None, name=None, sex=None, address=None, mail=None, birthdate=None)]

In [12]:
df_spark.printSchema() # This works like the "df_spark.info() in pandas"
#It gives you the data type of each individual rows

root
 |-- _c0: string (nullable = true)
 |-- job: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- company: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- residence: string (nullable = true)
 |-- current_location: string (nullable = true)
 |-- blood_group: string (nullable = true)
 |-- website: string (nullable = true)
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- address: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- birthdate: string (nullable = true)

# Session 2
- PySpark DataFrame
- Reading the Dataset
- Checking the Datatypes of the Columns(Schema)
- Selecting Columns and Indexing
- Check Describe options similar to Pandas
- Adding Columns
- Dropping Columns

In [1]:
import pyspark
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName('tutorial').getOrCreate()# We need to set a App Name

In [4]:
spark #This gives you the config of your spark cluster you just created

In [7]:
df_pyspark = spark.read.csv("Fakedata_Clean.csv", header=True, inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- job: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- company: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- residence: string (nullable = true)
 |-- current_location: string (nullable = true)
 |-- blood_group: string (nullable = true)
 |-- website: string (nullable = true)
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- address: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- birthdate: string (nullable = true)

You will notice it read the entire data is a "string" datatype.
We need to put the appropriate datatype

# Covert Birthdate to date datatype and Age to Integer.

In [7]:
from pyspark.sql.functions import to_date, col
df_pyspark = df_pyspark.withColumn("birthdate", to_date("birthdate","dd-MM-yyy"))

In [8]:
from pyspark.sql.types import IntegerType
df_pyspark = df_pyspark.withColumn("Age", df_pyspark["Age"].cast(IntegerType()))

In [9]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- job: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- residence: string (nullable = true)
 |-- current_location: string (nullable = true)
 |-- blood_group: string (nullable = true)
 |-- website: string (nullable = true)
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- address: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- birthdate: date (nullable = true)

In [10]:
df_pyspark.show()

+------------------+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|               _c0|                 job| Age|             company|                 ssn|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|
+------------------+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|                 0|Management consul...|  85|           Bates Inc|         538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|
|        South Mark|           WV 29008"|null|                  B-|['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|
|      Port Brandon|           IA 48052"|null|          15/10/1993|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 1|Journalist, newsp...|  91|Wolf, Perkins and...|         027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|
|        Lewismouth|           KS 16771"|null|                  B+|['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|
|       Kennethside|           GA 79926"|null|          11/03/1949|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 2|Research scientis...|  37|          Dawson Inc|         878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Jonathanmouth|           KY 19218"|null|                  O-|['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|
|   North Jamesbury|           CA 55841"|null|          12/03/1994|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 3|  Press photographer|  76|      Solis and Sons|         563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|
|     Williamshaven|           NE 73005"|null|                  A-|['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|
|     APO AP 33712"|  mary03@hotmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 4|Chief Financial O...|  65|Freeman, Moody an...|         421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|
|     Kathleenville|           DE 85329"|null|                  O+|['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|
|     FPO AP 94862"|    ruth26@gmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 5|        Video editor|  83|        Jones-Fowler|         794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|
|North Allisonmouth|           UT 64507"|null|                  O-|['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|
|         Davidberg|           AL 24747"|null|          08/10/2002|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|                 6|Occupational psyc...|  85|Franklin, Mckay a...|         807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|
|       West Cheryl|           KS 82400"|null|                  O-|['http://campbell...|             tracy04|    Adam Sanders|          M|    9219 Jamie Views|    null|null|null|   null|null|     null|
+------------------+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
only showing top 20 rows

In [11]:
df_pyspark.columns

['_c0',
 'job',
 'Age',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate']

In [12]:
#To see a particular column
df_pyspark.select("job").show()

+--------------------+
|                 job|
+--------------------+
|Management consul...|
|           WV 29008"|
|           IA 48052"|
|Journalist, newsp...|
|           KS 16771"|
|           GA 79926"|
|Research scientis...|
|           KY 19218"|
|           CA 55841"|
|  Press photographer|
|           NE 73005"|
|  mary03@hotmail.com|
|Chief Financial O...|
|           DE 85329"|
|    ruth26@gmail.com|
|        Video editor|
|           UT 64507"|
|           AL 24747"|
|Occupational psyc...|
|           KS 82400"|
+--------------------+
only showing top 20 rows

In [13]:
df_pyspark.select(["job","company"]).show() #To show two or more columns

+--------------------+--------------------+
|                 job|             company|
+--------------------+--------------------+
|Management consul...|           Bates Inc|
|           WV 29008"|                  B-|
|           IA 48052"|          15/10/1993|
|Journalist, newsp...|Wolf, Perkins and...|
|           KS 16771"|                  B+|
|           GA 79926"|          11/03/1949|
|Research scientis...|          Dawson Inc|
|           KY 19218"|                  O-|
|           CA 55841"|          12/03/1994|
|  Press photographer|      Solis and Sons|
|           NE 73005"|                  A-|
|  mary03@hotmail.com|                null|
|Chief Financial O...|Freeman, Moody an...|
|           DE 85329"|                  O+|
|    ruth26@gmail.com|                null|
|        Video editor|        Jones-Fowler|
|           UT 64507"|                  O-|
|           AL 24747"|          08/10/2002|
|Occupational psyc...|Franklin, Mckay a...|
|           KS 82400"|                  O-|
+--------------------+--------------------+
only showing top 20 rows

In [14]:
df_pyspark.dtypes

[('_c0', 'string'),
 ('job', 'string'),
 ('Age', 'int'),
 ('company', 'string'),
 ('ssn', 'string'),
 ('residence', 'string'),
 ('current_location', 'string'),
 ('blood_group', 'string'),
 ('website', 'string'),
 ('username', 'string'),
 ('name', 'string'),
 ('sex', 'string'),
 ('address', 'string'),
 ('mail', 'string'),
 ('birthdate', 'date')]

## Let Drop unwanted Columns

In [15]:
# Drop the column
df_pyspark = df_pyspark.drop("_c0")

In [16]:
df_pyspark.columns

['job',
 'Age',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate']

In [17]:
df_pyspark.show()

+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|                 job| Age|             company|                 ssn|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|
+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
|Management consul...|  85|           Bates Inc|         538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|
|           WV 29008"|null|                  B-|['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|
|           IA 48052"|null|          15/10/1993|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|Journalist, newsp...|  91|Wolf, Perkins and...|         027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|
|           KS 16771"|null|                  B+|['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|
|           GA 79926"|null|          11/03/1949|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|Research scientis...|  37|          Dawson Inc|         878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|
|           KY 19218"|null|                  O-|['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|
|           CA 55841"|null|          12/03/1994|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|  Press photographer|  76|      Solis and Sons|         563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|
|           NE 73005"|null|                  A-|['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|
|  mary03@hotmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|Chief Financial O...|  65|Freeman, Moody an...|         421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|
|           DE 85329"|null|                  O+|['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|
|    ruth26@gmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|        Video editor|  83|        Jones-Fowler|         794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|
|           UT 64507"|null|                  O-|['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|
|           AL 24747"|null|          08/10/2002|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|
|Occupational psyc...|  85|Franklin, Mckay a...|         807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|
|           KS 82400"|null|                  O-|['http://campbell...|             tracy04|    Adam Sanders|          M|    9219 Jamie Views|    null|null|null|   null|null|     null|
+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+
only showing top 20 rows

In [18]:
df_pyspark.describe().show()

+-------+--------------------+------------------+--------------------+-----------+----------------+-----------------+--------------------+--------------------+--------+----+----+-------+----+
|summary|                 job|               Age|             company|        ssn|       residence| current_location|         blood_group|             website|username|name| sex|address|mail|
+-------+--------------------+------------------+--------------------+-----------+----------------+-----------------+--------------------+--------------------+--------+----+----+-------+----+
|  count|                3000|              1000|                2894|       2000|            2000|             1000|                1000|                 900|       0|   0|   0|      0|   0|
|   mean|                null|            62.499|                null|       null|            null|             null|                null|                null|    null|null|null|   null|null|
| stddev|                null|21.598854356412264|                null|       null|            null|             null|                null|                null|    null|null|null|   null|null|
|    min|           AK 08218"|                25|          01/01/1932|001-30-3365|000 Thomas Fords|     Aaron Bailey|00009 Ebony Cross...|000 Madeline Miss...|    null|null|null|   null|null|
|    max|zsimmons@hotmail.com|               100|['https://www.wil...|  zreynolds|         zwright|Zachary Contreras|  Unit 6437 Box 5192|  Unit 9719 Box 4784|    null|null|null|   null|null|
+-------+--------------------+------------------+--------------------+-----------+----------------+-----------------+--------------------+--------------------+--------+----+----+-------+----+

## Adding New Columns in PySpark

In [19]:
#Let say individual age after 5 years
df_pyspark= df_pyspark.withColumn("Next 5 years",df_pyspark["Age"]+5)

In [20]:
df_pyspark.columns

['job',
 'Age',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate',
 'Next 5 years']

In [21]:
df_pyspark.show()

+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
|                 job| Age|             company|                 ssn|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|Next 5 years|
+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
|Management consul...|  85|           Bates Inc|         538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|          90|
|           WV 29008"|null|                  B-|['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|        null|
|           IA 48052"|null|          15/10/1993|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Journalist, newsp...|  91|Wolf, Perkins and...|         027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|          96|
|           KS 16771"|null|                  B+|['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|        null|
|           GA 79926"|null|          11/03/1949|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Research scientis...|  37|          Dawson Inc|         878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|          42|
|           KY 19218"|null|                  O-|['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|        null|
|           CA 55841"|null|          12/03/1994|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|  Press photographer|  76|      Solis and Sons|         563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|          81|
|           NE 73005"|null|                  A-|['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|        null|
|  mary03@hotmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Chief Financial O...|  65|Freeman, Moody an...|         421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|          70|
|           DE 85329"|null|                  O+|['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|        null|
|    ruth26@gmail.com|null|                null|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|        Video editor|  83|        Jones-Fowler|         794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|          88|
|           UT 64507"|null|                  O-|['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|        null|
|           AL 24747"|null|          08/10/2002|                null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Occupational psyc...|  85|Franklin, Mckay a...|         807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|          90|
|           KS 82400"|null|                  O-|['http://campbell...|             tracy04|    Adam Sanders|          M|    9219 Jamie Views|    null|null|null|   null|null|     null|        null|
+--------------------+----+--------------------+--------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
only showing top 20 rows

## Rename the column

In [22]:
df_pyspark= df_pyspark.withColumnRenamed("ssn","Social Security number") #"old_name","New_Name"

In [23]:
df_pyspark.columns

['job',
 'Age',
 'company',
 'Social Security number',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate',
 'Next 5 years']

# PySpark Handling Missing Values

- Dropping Columns.
- Dropping Rows.
- Various Parameter in Dropping functionalities.
- Handling Missing Values by Means, Media & Mode.

In [25]:
#Drop Rows containing blanks
df_pyspark = df_pyspark.na.drop(how="all")# We have "any" and "all" from the documentation.
#Udf_pyspark = se "all" meaning the entire row must be null for it to drop.

In [26]:
df_pyspark.show()

+--------------------+----+--------------------+----------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
|                 job| Age|             company|Social Security number|           residence|current_location|blood_group|             website|username|name| sex|address|mail|birthdate|Next 5 years|
+--------------------+----+--------------------+----------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
|Management consul...|  85|           Bates Inc|           538-20-5825|399 Johnson Sprin...|            null|       null|                null|    null|null|null|   null|null|     null|          90|
|           WV 29008"|null|                  B-|  ['http://garcia.c...|            joshua81|  Julie Marshall|          F|0505 Jennifer Und...|    null|null|null|   null|null|     null|        null|
|           IA 48052"|null|          15/10/1993|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Journalist, newsp...|  91|Wolf, Perkins and...|           027-17-3368|     451 Lori Ridges|            null|       null|                null|    null|null|null|   null|null|     null|          96|
|           KS 16771"|null|                  B+|  ['http://price.ne...|           fferguson|  Steven Simmons|          M|00448 John Stream...|    null|null|null|   null|null|     null|        null|
|           GA 79926"|null|          11/03/1949|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Research scientis...|  37|          Dawson Inc|           878-32-0473|084 David Land Su...|            null|       null|                null|    null|null|null|   null|null|     null|          42|
|           KY 19218"|null|                  O-|  ['https://rush-st...|             linda98|  Nicole Morales|          F|   91724 Ashley Loaf|    null|null|null|   null|null|     null|        null|
|           CA 55841"|null|          12/03/1994|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|  Press photographer|  76|      Solis and Sons|           563-21-0545|34210 Christina C...|            null|       null|                null|    null|null|null|   null|null|     null|          81|
|           NE 73005"|null|                  A-|  ['http://stewart....|           spencer43|     Juan Cannon|          M|  PSC 5047, Box 7236|    null|null|null|   null|null|     null|        null|
|  mary03@hotmail.com|null|                null|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Chief Financial O...|  65|Freeman, Moody an...|           421-12-6482|    5759 Smith Trace|            null|       null|                null|    null|null|null|   null|null|     null|          70|
|           DE 85329"|null|                  O+|  ['https://smith.o...|           anthony71|    Morgan Smith|          F|           USS Moore|    null|null|null|   null|null|     null|        null|
|    ruth26@gmail.com|null|                null|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|        Video editor|  83|        Jones-Fowler|           794-29-0277|4383 King Manor S...|            null|       null|                null|    null|null|null|   null|null|     null|          88|
|           UT 64507"|null|                  O-|  ['https://www.bal...|         velezdenise| Nicholas Stokes|          M|  2879 Williams Port|    null|null|null|   null|null|     null|        null|
|           AL 24747"|null|          08/10/2002|                  null|                null|            null|       null|                null|    null|null|null|   null|null|     null|        null|
|Occupational psyc...|  85|Franklin, Mckay a...|           807-07-7725|     2742 Rick Curve|            null|       null|                null|    null|null|null|   null|null|     null|          90|
|           KS 82400"|null|                  O-|  ['http://campbell...|             tracy04|    Adam Sanders|          M|    9219 Jamie Views|    null|null|null|   null|null|     null|        null|
+--------------------+----+--------------------+----------------------+--------------------+----------------+-----------+--------------------+--------+----+----+-------+----+---------+------------+
only showing top 20 rows

In [27]:
# Remove the duplicate rows
df_pyspark = df_pyspark.dropDuplicates()

In [28]:
df_pyspark.show()

+--------------------+----+--------------------+----------------------+--------------------+----------------+--------------------+--------------------+--------+----+----+-------+----+---------+------------+
|                 job| Age|             company|Social Security number|           residence|current_location|         blood_group|             website|username|name| sex|address|mail|birthdate|Next 5 years|
+--------------------+----+--------------------+----------------------+--------------------+----------------+--------------------+--------------------+--------+----+----+-------+----+---------+------------+
|Chartered loss ad...|  94|Chapman, Chapman ...|           681-89-4510|  3888 Joseph Cliffs|            null|                null|                null|    null|null|null|   null|null|     null|          99|
|           AL 58260"|null|                  O-|  ['http://martin.c...|     michaelstafford|   Sandra Holmes|                   F|7522 Larson Cape ...|    null|null|null|   null|null|     null|        null|
|Child psychothera...|  29|         Martin-Shea|           573-33-9788|    90691 Lisa Falls|            null|                null|                null|    null|null|null|   null|null|     null|          34|
|           PA 85055"|null|          20/07/1929|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|           AL 36570"|null|          18/12/1970|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|       Lexicographer|  29|      Cline and Sons|           096-45-7302|   924 Andrew Summit|            null|                null|                null|    null|null|null|   null|null|     null|          34|
|          Translator|  59|           Jones LLC|           419-16-1983|52982 Chase Grove...|            null|                null|                null|    null|null|null|   null|null|     null|          64|
|           TN 65076"|null|          01/08/1961|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|   rwalker@gmail.com|null|                null|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|(Decimal('49.8022...|null|['https://wilson....|            jennifer06|           Erin Bass|               F|200 Jeff Expressw...|                null|    null|null|null|   null|null|     null|        null|
|Conservation offi...|  38|      Riley and Sons|           208-43-3365|212 Carney Forest...|            null|                null|                null|    null|null|null|   null|null|     null|          43|
|Scientific labora...|  33|          Moreno Inc|           025-56-6756|   10504 Ashley Ways|            null|                null|                null|    null|null|null|   null|null|     null|          38|
|   Financial planner|  31|Murphy, Lewis and...|           370-96-7401|712 Frank Forge A...|            null|                null|                null|    null|null|null|   null|null|     null|          36|
|           ID 46712"|null|          29/01/1947|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|           WV 41211"|null|                  A+|  ['https://parker....|         penamelissa|Samuel Rodriguez|                   M|  PSC 3429, Box 7280|    null|null|null|   null|null|     null|        null|
| Pensions consultant|  85|Lutz, Baker and W...|           767-58-4451| 260 Sonia Mountains|            null|                null|                null|    null|null|null|   null|null|     null|          90|
|Architectural tec...|  55|Thompson, Manning...|           740-15-0331|      288 James Flat|            null|                null|                null|    null|null|null|   null|null|     null|          60|
|Research officer,...|  68|Owens, Wilson and...|           648-46-8471|6406 Miller Turnpike|            null|                null|                null|    null|null|null|   null|null|     null|          73|
|   bgreene@gmail.com|null|                null|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
|           MT 33210"|null|          02/03/1994|                  null|                null|            null|                null|                null|    null|null|null|   null|null|     null|        null|
+--------------------+----+--------------------+----------------------+--------------------+----------------+--------------------+--------------------+--------+----+----+-------+----+---------+------------+
only showing top 20 rows

## Dealing with missing values

In [37]:
#Method 1.
#df_pyspark.na.fill("0",["sex","name"]) #This is use to treat missing values, replace missing values in Sex & Name with "0"

In [38]:
'''#Method 2
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ["sex","name"],
    outputCols = ["{}_imputer".format(c) for c in ["sex","name"]]
    ).setStrategy("mean") #Filling by the mean value'''

## PySpark Filter Operation

In [39]:
df_pyspark.filter("Age>=60").show() #Filter for Age greater than 60.

+--------------------+---+--------------------+----------------------+--------------------+----------------+-----------+-------+--------+----+----+-------+----+---------+------------+
|                 job|Age|             company|Social Security number|           residence|current_location|blood_group|website|username|name| sex|address|mail|birthdate|Next 5 years|
+--------------------+---+--------------------+----------------------+--------------------+----------------+-----------+-------+--------+----+----+-------+----+---------+------------+
|Chartered loss ad...| 94|Chapman, Chapman ...|           681-89-4510|  3888 Joseph Cliffs|            null|       null|   null|    null|null|null|   null|null|     null|          99|
| Pensions consultant| 85|Lutz, Baker and W...|           767-58-4451| 260 Sonia Mountains|            null|       null|   null|    null|null|null|   null|null|     null|          90|
|Research officer,...| 68|Owens, Wilson and...|           648-46-8471|6406 Miller Turnpike|            null|       null|   null|    null|null|null|   null|null|     null|          73|
|        Geoscientist| 95|       Bonilla-Adams|           883-14-9018|13583 Wilson Ramp...|            null|       null|   null|    null|null|null|   null|null|     null|         100|
|Scientist, produc...| 71|Ferguson, Cole an...|           715-36-6841|   256 Collins Inlet|            null|       null|   null|    null|null|null|   null|null|     null|          76|
|    Financial trader| 82|Crosby, Hall and ...|           626-26-8192|5764 Heather Forg...|            null|       null|   null|    null|null|null|   null|null|     null|          87|
|Research officer,...| 89|     Miller and Sons|           743-56-2212|616 Sheena Street...|            null|       null|   null|    null|null|null|   null|null|     null|          94|
|Scientist, resear...| 60| Roy, Ward and Avery|           407-74-6683|       540 Cox Grove|            null|       null|   null|    null|null|null|   null|null|     null|          65|
|   Probation officer| 99|            Ross Ltd|           296-74-7412|1499 Zamora Rue A...|            null|       null|   null|    null|null|null|   null|null|     null|         104|
|        Toxicologist| 80|          Miller Ltd|           617-01-6430|  PSC 1616, Box 6330|            null|       null|   null|    null|null|null|   null|null|     null|          85|
|       Airline pilot| 98|           Ryan-Lynn|           646-45-6287|6223 Davis Glens ...|            null|       null|   null|    null|null|null|   null|null|     null|         103|
|    Theatre director| 68|          Briggs Ltd|           895-24-1511|          USNV Stark|            null|       null|   null|    null|null|null|   null|null|     null|          73|
|Pharmacist, hospital| 75|            Wade Ltd|           644-99-0472|     560 Byrd Harbor|            null|       null|   null|    null|null|null|   null|null|     null|          80|
|Local government ...| 99|      Cunningham PLC|           464-67-7975| 95264 Nicholas Cove|            null|       null|   null|    null|null|null|   null|null|     null|         104|
|      Futures trader| 76|       Middleton Inc|           818-47-2646|  PSC 8699, Box 3749|            null|       null|   null|    null|null|null|   null|null|     null|          81|
|  Arts administrator| 85|      Harrison Group|           708-68-3390|    752 Sloan Points|            null|       null|   null|    null|null|null|   null|null|     null|          90|
|     Systems analyst| 88|         Perez Group|           446-32-3564|062 Tracy Parks S...|            null|       null|   null|    null|null|null|   null|null|     null|          93|
|   Personnel officer| 77|  Rodriguez-Williams|           234-16-7305|16449 Lauren Summ...|            null|       null|   null|    null|null|null|   null|null|     null|          82|
|Journalist, newsp...| 69|Lucas, Saunders a...|           049-52-0708|49943 Hernandez M...|            null|       null|   null|    null|null|null|   null|null|     null|          74|
| Trade mark attorney| 93|           Marks LLC|           685-72-8351|07455 Ayala Exten...|            null|       null|   null|    null|null|null|   null|null|     null|          98|
+--------------------+---+--------------------+----------------------+--------------------+----------------+-----------+-------+--------+----+----+-------+----+---------+------------+
only showing top 20 rows

In [40]:
df_pyspark.filter("Age>=60").select(["name","sex","Age"]).show()

+----+----+---+
|name| sex|Age|
+----+----+---+
|null|null| 94|
|null|null| 85|
|null|null| 68|
|null|null| 95|
|null|null| 71|
|null|null| 82|
|null|null| 89|
|null|null| 60|
|null|null| 99|
|null|null| 80|
|null|null| 98|
|null|null| 68|
|null|null| 75|
|null|null| 99|
|null|null| 76|
|null|null| 85|
|null|null| 88|
|null|null| 77|
|null|null| 69|
|null|null| 93|
+----+----+---+
only showing top 20 rows

In [42]:
df_pyspark.select("job").show()

+--------------------+
|                 job|
+--------------------+
|Chartered loss ad...|
|           AL 58260"|
|Child psychothera...|
|           PA 85055"|
|           AL 36570"|
|       Lexicographer|
|          Translator|
|           TN 65076"|
|   rwalker@gmail.com|
|(Decimal('49.8022...|
|Conservation offi...|
|Scientific labora...|
|   Financial planner|
|           ID 46712"|
|           WV 41211"|
| Pensions consultant|
|Architectural tec...|
|Research officer,...|
|   bgreene@gmail.com|
|           MT 33210"|
+--------------------+
only showing top 20 rows

In [5]:
df_pyspark_2 = spark.read.csv("Big_Data.csv", header=True, inferSchema=True)

In [6]:
df_pyspark_2.printSchema()

root
 |-- Order NO: integer (nullable = true)
 |-- Order Date: integer (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Pie Flavor3: string (nullable = true)
 |-- Quantity4: integer (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Amount Sold: integer (nullable = true)
 |-- Slice Or Whole Pie: string (nullable = true)
 |-- Pre-Order/In-Store Purchase: string (nullable = true)
 |-- Organic?: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- Pie Flavor22: string (nullable = true)
 |-- Quantity23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)

In [7]:
df_pyspark_2.columns

['Order NO',
 'Order Date',
 'Countries',
 'Pie Flavor3',
 'Quantity4',
 'Price',
 'Amount Sold',
 'Slice Or Whole Pie',
 'Pre-Order/In-Store Purchase',
 'Organic?',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 'Pie Flavor22',
 'Quantity23',
 '_c24',
 '_c25']

In [8]:
#Fit the datatypes
from pyspark.sql.functions import to_date, col
df_pyspark_2 = df_pyspark_2.withColumn("Order Date", to_date("Order Date","dd-MM-yyyy"))

In [9]:
from pyspark.sql.types import IntegerType
df_pyspark_2 = df_pyspark_2.withColumn("Amount Sold", df_pyspark_2["Amount Sold"].cast(IntegerType()))

In [10]:
from pyspark.sql.types import IntegerType
df_pyspark_2 = df_pyspark_2.withColumn("Price", df_pyspark_2["Price"].cast(IntegerType()))

In [11]:
'''from pyspark.sql.types import IntegerType
df_pyspark_2 = df_pyspark_2.withColumn("Quantity4", df_pyspark_2["Quantity4"].cast(IntegerType()))'''

'from pyspark.sql.types import IntegerType\ndf_pyspark_2 = df_pyspark_2.withColumn("Quantity4", df_pyspark_2["Quantity4"].cast(IntegerType()))'

In [12]:
df_pyspark_2.printSchema()

root
 |-- Order NO: integer (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Pie Flavor3: string (nullable = true)
 |-- Quantity4: integer (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Amount Sold: integer (nullable = true)
 |-- Slice Or Whole Pie: string (nullable = true)
 |-- Pre-Order/In-Store Purchase: string (nullable = true)
 |-- Organic?: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- Pie Flavor22: string (nullable = true)
 |-- Quantity23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)

In [13]:
# delete two columns
df_pyspark_2=df_pyspark_2.drop(*('_c10','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18',
                                 '_c19','_c20','_c21','Pie Flavor22','Quantity23','_c24','_c25'))

In [14]:
df_pyspark_2.columns

['Order NO',
 'Order Date',
 'Countries',
 'Pie Flavor3',
 'Quantity4',
 'Price',
 'Amount Sold',
 'Slice Or Whole Pie',
 'Pre-Order/In-Store Purchase',
 'Organic?']

In [15]:
df_pyspark_2.printSchema()

root
 |-- Order NO: integer (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Pie Flavor3: string (nullable = true)
 |-- Quantity4: integer (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Amount Sold: integer (nullable = true)
 |-- Slice Or Whole Pie: string (nullable = true)
 |-- Pre-Order/In-Store Purchase: string (nullable = true)
 |-- Organic?: string (nullable = true)

## Change the Column Name

In [16]:
df_pyspark_2= df_pyspark_2.withColumnRenamed("Pie Flavor3","Pie_Flavor")
df_pyspark_2= df_pyspark_2.withColumnRenamed("Quantity4","Quantity")

In [17]:
df_pyspark_2.columns

['Order NO',
 'Order Date',
 'Countries',
 'Pie_Flavor',
 'Quantity',
 'Price',
 'Amount Sold',
 'Slice Or Whole Pie',
 'Pre-Order/In-Store Purchase',
 'Organic?']

In [18]:
df_pyspark_2.select("Amount Sold").show()

+-----------+
|Amount Sold|
+-----------+
|      33605|
|      13716|
|      11586|
|      33208|
|      11206|
|      23130|
|      14613|
|      47315|
|      14910|
|       8437|
|      10260|
|       4590|
|      12874|
|       9574|
|      31748|
|       8024|
|      16956|
|       1627|
|      32710|
|       7325|
+-----------+
only showing top 20 rows

In [19]:
df_pyspark_2.filter(df_pyspark_2["Price"] >= 7000).show()

+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|Order NO|Order Date|    Countries|        Pie_Flavor|Quantity|Price|Amount Sold|Slice Or Whole Pie|Pre-Order/In-Store Purchase|Organic?|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|   10004|      null|     Botswana|             Apple|       4| 8302|      33208|             Whole|                  Pre-Order|      No|
|   10006|      null|      Burundi|             Apple|       3| 7710|      23130|             Whole|                  Pre-Order|      No|
|   10008|      null|     Cameroon|             Apple|       5| 9463|      47315|             Slice|                  Pre-Order|     Yes|
|   10010|      null|         Chad|Strawberry Rhubarb|       1| 8437|       8437|             Slice|                   In-Store|      No|
|   10014|      null|     Djibouti|            Cherry|       1| 9574|       9574|             Whole|                   In-Store|     Yes|
|   10015|      null|     DR Congo|             Apple|       4| 7937|      31748|             Whole|                  Pre-Order|     Yes|
|   10022|      null|       Gambia|             Apple|       4| 7851|      31404|             Whole|                   In-Store|     Yes|
|   10023|      null|        Ghana|             Fudge|       2| 8841|      17682|             Whole|                   In-Store|     Yes|
|   10025|      null|Guinea-Bissau|             Apple|       1| 7620|       7620|             Slice|                  Pre-Order|     Yes|
|   10027|      null|      Lesotho|           Pumpkin|       2| 9097|      18194|             Whole|                  Pre-Order|     Yes|
|   10028|      null|      Liberia|             Fudge|       4| 9855|      39420|             Slice|                   In-Store|     Yes|
|   10029|      null|        Libya|             Fudge|       5| 8368|      41840|             Slice|                  Pre-Order|     Yes|
|   10033|      null|   Mauritania|         Blueberry|       1| 7071|       7071|             Whole|                   In-Store|     Yes|
|   10042|      null|      Senegal|             Apple|       4| 7544|      30176|             Slice|                  Pre-Order|     Yes|
|   10046|      null| South Africa|Strawberry Rhubarb|       3| 9221|      27663|             Whole|                  Pre-Order|     Yes|
|   10047|      null|  South Sudan|Strawberry Rhubarb|       1| 8978|       8978|             Whole|                  Pre-Order|     Yes|
|   10050|      null|         Togo|             Apple|       4| 8987|      35948|             Whole|                  Pre-Order|     Yes|
|   10053|      null|       Zambia|           Pumpkin|       2| 9527|      19054|             Whole|                  Pre-Order|     Yes|
|   10055|      null|      Algeria|           Pumpkin|       5| 9033|      45165|             Whole|                  Pre-Order|     Yes|
|   10059|      null| Burkina Faso|             Fudge|       1| 7861|       7861|             Whole|                  Pre-Order|     Yes|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
only showing top 20 rows

In [20]:
df_pyspark_2.filter((df_pyspark_2['Price']>=7000) & (df_pyspark_2['Price']<=9000)).show() #This gives between the range of 7e3-9e3

+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|Order NO|Order Date|    Countries|        Pie_Flavor|Quantity|Price|Amount Sold|Slice Or Whole Pie|Pre-Order/In-Store Purchase|Organic?|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|   10004|      null|     Botswana|             Apple|       4| 8302|      33208|             Whole|                  Pre-Order|      No|
|   10006|      null|      Burundi|             Apple|       3| 7710|      23130|             Whole|                  Pre-Order|      No|
|   10010|      null|         Chad|Strawberry Rhubarb|       1| 8437|       8437|             Slice|                   In-Store|      No|
|   10015|      null|     DR Congo|             Apple|       4| 7937|      31748|             Whole|                  Pre-Order|     Yes|
|   10022|      null|       Gambia|             Apple|       4| 7851|      31404|             Whole|                   In-Store|     Yes|
|   10023|      null|        Ghana|             Fudge|       2| 8841|      17682|             Whole|                   In-Store|     Yes|
|   10025|      null|Guinea-Bissau|             Apple|       1| 7620|       7620|             Slice|                  Pre-Order|     Yes|
|   10029|      null|        Libya|             Fudge|       5| 8368|      41840|             Slice|                  Pre-Order|     Yes|
|   10033|      null|   Mauritania|         Blueberry|       1| 7071|       7071|             Whole|                   In-Store|     Yes|
|   10042|      null|      Senegal|             Apple|       4| 7544|      30176|             Slice|                  Pre-Order|     Yes|
|   10047|      null|  South Sudan|Strawberry Rhubarb|       1| 8978|       8978|             Whole|                  Pre-Order|     Yes|
|   10050|      null|         Togo|             Apple|       4| 8987|      35948|             Whole|                  Pre-Order|     Yes|
|   10059|      null| Burkina Faso|             Fudge|       1| 7861|       7861|             Whole|                  Pre-Order|     Yes|
|   10064|      null|         Chad|             Fudge|       3| 8543|      25629|             Whole|                   In-Store|     Yes|
|   10074|      null|     Ethiopia|Strawberry Rhubarb|       5| 8057|      40285|             Slice|                  Pre-Order|     Yes|
|   10081|      null|      Lesotho|Strawberry Rhubarb|       5| 8293|      41465|             Whole|                   In-Store|     Yes|
|   10088|      null|    Mauritius|Strawberry Rhubarb|       2| 8013|      16026|             Slice|                  Pre-Order|      No|
|   10099|      null|      Somalia|             Apple|       3| 8789|      26367|             Slice|                  Pre-Order|     Yes|
|   10102|      null|        Sudan|             Apple|       5| 8800|      44000|             Whole|                  Pre-Order|      No|
|   10107|      null|       Zambia|           Pumpkin|       5| 8077|      40385|             Slice|                  Pre-Order|      No|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
only showing top 20 rows

In [21]:
df_pyspark_2.filter((df_pyspark_2['Pie_Flavor']=='Apple') | (df_pyspark_2['Pie_Flavor']=="Cherry")).show() #This gives between the range of 7e3-9e3

+--------+----------+--------------------+----------+--------+-----+-----------+------------------+---------------------------+--------+
|Order NO|Order Date|           Countries|Pie_Flavor|Quantity|Price|Amount Sold|Slice Or Whole Pie|Pre-Order/In-Store Purchase|Organic?|
+--------+----------+--------------------+----------+--------+-----+-----------+------------------+---------------------------+--------+
|   10001|      null|             Algeria|     Apple|       5| 6721|      33605|             Slice|                  Pre-Order|      No|
|   10002|      null|              Angola|     Apple|       3| 4572|      13716|             Whole|                   In-Store|     Yes|
|   10003|      null|               Benin|     Apple|       3| 3862|      11586|             Whole|                   In-Store|      No|
|   10004|      null|            Botswana|     Apple|       4| 8302|      33208|             Whole|                  Pre-Order|      No|
|   10005|      null|        Burkina Faso|     Apple|       2| 5603|      11206|             Whole|                   In-Store|      No|
|   10006|      null|             Burundi|     Apple|       3| 7710|      23130|             Whole|                  Pre-Order|      No|
|   10007|      null|          Cabo Verde|     Apple|       3| 4871|      14613|             Whole|                  Pre-Order|      No|
|   10008|      null|            Cameroon|     Apple|       5| 9463|      47315|             Slice|                  Pre-Order|     Yes|
|   10009|      null|Central African R...|    Cherry|       3| 4970|      14910|             Whole|                   In-Store|      No|
|   10011|      null|             Comoros|    Cherry|       4| 2565|      10260|             Slice|                  Pre-Order|     Yes|
|   10013|      null|       Cte d'Ivoire|    Cherry|       2| 6437|      12874|             Slice|                   In-Store|     Yes|
|   10014|      null|            Djibouti|    Cherry|       1| 9574|       9574|             Whole|                   In-Store|     Yes|
|   10015|      null|            DR Congo|     Apple|       4| 7937|      31748|             Whole|                  Pre-Order|     Yes|
|   10016|      null|               Egypt|    Cherry|       4| 2006|       8024|             Whole|                   In-Store|     Yes|
|   10018|      null|             Eritrea|     Apple|       1| 1627|       1627|             Whole|                  Pre-Order|     Yes|
|   10019|      null|            Eswatini|     Apple|       5| 6542|      32710|             Whole|                  Pre-Order|     Yes|
|   10021|      null|               Gabon|     Apple|       3| 2756|       8268|             Whole|                   In-Store|     Yes|
|   10022|      null|              Gambia|     Apple|       4| 7851|      31404|             Whole|                   In-Store|     Yes|
|   10025|      null|       Guinea-Bissau|     Apple|       1| 7620|       7620|             Slice|                  Pre-Order|     Yes|
|   10034|      null|           Mauritius|     Apple|       3| 1561|       4683|             Slice|                  Pre-Order|     Yes|
+--------+----------+--------------------+----------+--------+-----+-----------+------------------+---------------------------+--------+
only showing top 20 rows

In [22]:
df_pyspark_2.select(["Order Date","Price","Quantity","Amount Sold"]).show() #Show certain columns

+----------+-----+--------+-----------+
|Order Date|Price|Quantity|Amount Sold|
+----------+-----+--------+-----------+
|      null| 6721|       5|      33605|
|      null| 4572|       3|      13716|
|      null| 3862|       3|      11586|
|      null| 8302|       4|      33208|
|      null| 5603|       2|      11206|
|      null| 7710|       3|      23130|
|      null| 4871|       3|      14613|
|      null| 9463|       5|      47315|
|      null| 4970|       3|      14910|
|      null| 8437|       1|       8437|
|      null| 2565|       4|      10260|
|      null| 4590|       1|       4590|
|      null| 6437|       2|      12874|
|      null| 9574|       1|       9574|
|      null| 7937|       4|      31748|
|      null| 2006|       4|       8024|
|      null| 5652|       3|      16956|
|      null| 1627|       1|       1627|
|      null| 6542|       5|      32710|
|      null| 1465|       5|       7325|
+----------+-----+--------+-----------+
only showing top 20 rows

Read more on Filter using PySPark: https://sparkbyexamples.com/pyspark/pyspark-where-filter/

In [23]:
df_pyspark_2.filter((df_pyspark_2['Price']>=7000) & (df_pyspark_2['Price']<=9000)).show() #This gives between the range of 7e3-9e3

+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|Order NO|Order Date|    Countries|        Pie_Flavor|Quantity|Price|Amount Sold|Slice Or Whole Pie|Pre-Order/In-Store Purchase|Organic?|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
|   10004|      null|     Botswana|             Apple|       4| 8302|      33208|             Whole|                  Pre-Order|      No|
|   10006|      null|      Burundi|             Apple|       3| 7710|      23130|             Whole|                  Pre-Order|      No|
|   10010|      null|         Chad|Strawberry Rhubarb|       1| 8437|       8437|             Slice|                   In-Store|      No|
|   10015|      null|     DR Congo|             Apple|       4| 7937|      31748|             Whole|                  Pre-Order|     Yes|
|   10022|      null|       Gambia|             Apple|       4| 7851|      31404|             Whole|                   In-Store|     Yes|
|   10023|      null|        Ghana|             Fudge|       2| 8841|      17682|             Whole|                   In-Store|     Yes|
|   10025|      null|Guinea-Bissau|             Apple|       1| 7620|       7620|             Slice|                  Pre-Order|     Yes|
|   10029|      null|        Libya|             Fudge|       5| 8368|      41840|             Slice|                  Pre-Order|     Yes|
|   10033|      null|   Mauritania|         Blueberry|       1| 7071|       7071|             Whole|                   In-Store|     Yes|
|   10042|      null|      Senegal|             Apple|       4| 7544|      30176|             Slice|                  Pre-Order|     Yes|
|   10047|      null|  South Sudan|Strawberry Rhubarb|       1| 8978|       8978|             Whole|                  Pre-Order|     Yes|
|   10050|      null|         Togo|             Apple|       4| 8987|      35948|             Whole|                  Pre-Order|     Yes|
|   10059|      null| Burkina Faso|             Fudge|       1| 7861|       7861|             Whole|                  Pre-Order|     Yes|
|   10064|      null|         Chad|             Fudge|       3| 8543|      25629|             Whole|                   In-Store|     Yes|
|   10074|      null|     Ethiopia|Strawberry Rhubarb|       5| 8057|      40285|             Slice|                  Pre-Order|     Yes|
|   10081|      null|      Lesotho|Strawberry Rhubarb|       5| 8293|      41465|             Whole|                   In-Store|     Yes|
|   10088|      null|    Mauritius|Strawberry Rhubarb|       2| 8013|      16026|             Slice|                  Pre-Order|      No|
|   10099|      null|      Somalia|             Apple|       3| 8789|      26367|             Slice|                  Pre-Order|     Yes|
|   10102|      null|        Sudan|             Apple|       5| 8800|      44000|             Whole|                  Pre-Order|      No|
|   10107|      null|       Zambia|           Pumpkin|       5| 8077|      40385|             Slice|                  Pre-Order|      No|
+--------+----------+-------------+------------------+--------+-----+-----------+------------------+---------------------------+--------+
only showing top 20 rows

## Create a new column by multiplying and adding two existing columns

In [24]:
df_pyspark_2 = df_pyspark_2.withColumn("Total_Amount_Sold", col("Quantity") * col("Price"))

In [25]:
df_pyspark_2.select(["Total_Amount_Sold","Amount Sold"]).show()

+-----------------+-----------+
|Total_Amount_Sold|Amount Sold|
+-----------------+-----------+
|            33605|      33605|
|            13716|      13716|
|            11586|      11586|
|            33208|      33208|
|            11206|      11206|
|            23130|      23130|
|            14613|      14613|
|            47315|      47315|
|            14910|      14910|
|             8437|       8437|
|            10260|      10260|
|             4590|       4590|
|            12874|      12874|
|             9574|       9574|
|            31748|      31748|
|             8024|       8024|
|            16956|      16956|
|             1627|       1627|
|            32710|      32710|
|             7325|       7325|
+-----------------+-----------+
only showing top 20 rows

## Pyspark GroupBy and Aggregate Functions

In [35]:
df_pyspark_2.groupBy("Pie_Flavor").sum().show()

+------------------+-------------+-------------+----------+----------------+----------------------+
|        Pie_Flavor|sum(Order NO)|sum(Quantity)|sum(Price)|sum(Amount Sold)|sum(Total_Amount_Sold)|
+------------------+-------------+-------------+----------+----------------+----------------------+
|Strawberry Rhubarb|      7245335|         1870|   3511829|        10457081|              10457081|
|             Mango|       999563|          279|    477648|         1522151|               1522151|
|           Pumpkin|      5775006|         1507|   2804354|         8313987|               8313987|
|             Fudge|      3534468|          968|   1659068|         5139027|               5139027|
|            Cherry|      3667886|          957|   1736496|         5186149|               5186149|
|             Apple|      7996745|         2148|   3791402|        11467975|              11467975|
|         Blueberry|      2357148|          604|   1166427|         3381975|               3381975|
+------------------+-------------+-------------+----------+----------------+----------------------+

In [34]:
from pyspark.sql.functions import regexp_replace

# Replace all occurrences of the value "John" in the "name" column with "Jane"
df_pyspark_2 = df_pyspark_2.withColumn("Pie_Flavor", regexp_replace("Pie_Flavor", "Other", "Mango"))

In [36]:
df_pyspark_2.groupBy("Pie_Flavor").sum().show()

+------------------+-------------+-------------+----------+----------------+----------------------+
|        Pie_Flavor|sum(Order NO)|sum(Quantity)|sum(Price)|sum(Amount Sold)|sum(Total_Amount_Sold)|
+------------------+-------------+-------------+----------+----------------+----------------------+
|Strawberry Rhubarb|      7245335|         1870|   3511829|        10457081|              10457081|
|             Mango|       999563|          279|    477648|         1522151|               1522151|
|           Pumpkin|      5775006|         1507|   2804354|         8313987|               8313987|
|             Fudge|      3534468|          968|   1659068|         5139027|               5139027|
|            Cherry|      3667886|          957|   1736496|         5186149|               5186149|
|             Apple|      7996745|         2148|   3791402|        11467975|              11467975|
|         Blueberry|      2357148|          604|   1166427|         3381975|               3381975|
+------------------+-------------+-------------+----------+----------------+----------------------+

In [37]:
df_pyspark_2.filter(df_pyspark_2['Pie_Flavor']=='Mango').show()

+--------+----------+----------+----------+--------+-----+-----------+------------------+---------------------------+--------+-----------------+
|Order NO|Order Date| Countries|Pie_Flavor|Quantity|Price|Amount Sold|Slice Or Whole Pie|Pre-Order/In-Store Purchase|Organic?|Total_Amount_Sold|
+--------+----------+----------+----------+--------+-----+-----------+------------------+---------------------------+--------+-----------------+
|   10073|      null|  Eswatini|     Mango|       2| 3472|       6944|             Whole|                  Pre-Order|     Yes|             6944|
|   10077|      null|     Ghana|     Mango|       5| 2956|      14780|             Slice|                   In-Store|     Yes|            14780|
|   10232|      null|     Egypt|     Mango|       2| 1308|       2616|             Slice|                  Pre-Order|     Yes|             2616|
|   10247|      null|    Malawi|     Mango|       2| 2367|       4734|             Whole|                   In-Store|     Yes|             4734|
|   10265|      null|  Tanzania|     Mango|       1| 3848|       3848|             Slice|                  Pre-Order|     Yes|             3848|
|   10278|      null|  Cameroon|     Mango|       2| 7814|      15628|             Whole|                   In-Store|     Yes|            15628|
|   10309|      null|   Nigeria|     Mango|       3| 8119|      24357|             Whole|                  Pre-Order|     Yes|            24357|
|   10332|      null|  Cameroon|     Mango|       3| 3696|      11088|             Whole|                   In-Store|     Yes|            11088|
|   10334|      null|      Chad|     Mango|       2| 1536|       3072|             Slice|                   In-Store|     Yes|             3072|
|   10346|      null|    Gambia|     Mango|       1| 8163|       8163|             Whole|                   In-Store|     Yes|             8163|
|   10348|      null|    Guinea|     Mango|       2| 9438|      18876|             Whole|                  Pre-Order|     Yes|            18876|
|   10361|      null|   Namibia|     Mango|       4| 9600|      38400|             Whole|                   In-Store|     Yes|            38400|
|   10378|      null|  Zimbabwe|     Mango|       2| 3119|       6238|             Whole|                  Pre-Order|     Yes|             6238|
|   10382|      null|  Botswana|     Mango|       5| 3180|      15900|             Slice|                  Pre-Order|     Yes|            15900|
|   10475|      null|Seychelles|     Mango|       1| 1610|       1610|             Slice|                   In-Store|     Yes|             1610|
|   10487|      null|   Algeria|     Mango|       5| 6056|      30280|             Slice|                  Pre-Order|     Yes|            30280|
|   10490|      null|  Botswana|     Mango|       5| 9725|      48625|             Slice|                  Pre-Order|     Yes|            48625|
|   10550|      null|      Chad|     Mango|       3| 3500|      10500|             Whole|                  Pre-Order|      No|            10500|
|   10552|      null|     Congo|     Mango|       1| 7139|       7139|             Slice|                  Pre-Order|     Yes|             7139|
|   10554|      null|  Djibouti|     Mango|       1| 5903|       5903|             Slice|                  Pre-Order|     Yes|             5903|
+--------+----------+----------+----------+--------+-----+-----------+------------------+---------------------------+--------+-----------------+
only showing top 20 rows